*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header{
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  padding: 10px;
  position: fixed;
  /* position: absolute; */
  width: 100%;
}

.hero{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue;
  min-height: 100vh;
  height: auto;
}

.contenedor{
  width: 100%;
  max-width: 990px;

} 

.contenedor form{
  padding: 0 10px;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 10px;
}

form div{
  display: grid;
  width: 100%;
}

form div:first-child{
  grid-template-columns: repeat(3,1fr);
  column-gap: 10px;
  
}

form div:nth-child(2){
  grid-template-columns: repeat(4,1fr);
  column-gap: 10px;
  
}

.resultado{
  font-size: 24px;
  color: whitesmoke;
  font-weight: 600;
  padding: 10px 0;
}

input:focus-visible{
  outline: none;
  
}

input,button{
  border: 2px solid transparent;
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
}

input{
  width: 100%;
}

button{
  background-color: whitesmoke;
  color: black;
  transition: .5s ease-in-out;
  /* width: 100%; */
}

button:hover{
  cursor: pointer;
  background-color: black;
  color: whitesmoke;
  transition: .5s ease-in-out;
}

.invalid{
  border: 2px solid rgb(212, 53, 53)
}

footer{
  background-color: whitesmoke;
  width: 100%;
  text-align: center;
  position: fixed;
  /* position: absolute; */
  bottom: 0;
  padding: 5px;
  
}

@media screen and (max-width:768px) {
  .hero{
    min-height: 90vh;
  }
  
  form div:first-child{
    grid-template-columns: repeat(1,1fr);
    row-gap: 10px;
  }

  form div:nth-child(2){
    row-gap: 10px;
    grid-template-columns: repeat(2,1fr);
  }

  input, button{
    padding: 1.125rem;
    font-size: 16px;
  }




  
  
}